* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f172a;
}

.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.card {
    background-color: #1e293b;
    color: white;
    border: 2px solid #2f394d;
    border-radius: 8px;
    display: flex;
    height: 250px;
    transition: all 0.5s ease-in-out;

    .card-img {
        width: 40%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease-in-out;
    }

    .card-title  {
        text-transform: uppercase;
    }

    .card-img img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 8px 0 0 8px;
        padding: 0;
        margin: 0;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
       
    }

    .card-body {
        padding: 20px 0 0 20px;
        width: 60%;

        h5 {
            font-size: 50px;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            color: grey;
        }



    }


}

.card:hover {
    border: 2px solid red;
    img {
        transform: scale(1.1);

    }
}

.intro {

    justify-self: center;
    text-align: center;
    width: 60%;
    
    h1 {
        color: white;
        font-size: 60px;
        margin: 20px;
    }
    
    p {
        color: grey;
        font-size: 25px;
        margin: 20px;
    }

}


.add {
    justify-self: center;
    color: white;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 98%;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid #2f394d;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px 0;

    
    .addh1 {
        margin-left: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 50px;
    }

    .add-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        div {
            background-color: #0f172a;
            border: 2px solid #2f394d;
            border-radius: 8px;
            padding: 20px;
            width: 28%;

            h1 {
                color: rgb(255, 75, 75);
                font-size: 30px;
            }

            h2 {
                margin: 10px 0;
                font-size: 25px;
            }

            p {
                font-size: 25px;
            }
        }

    }
}