

* {
    margin: 0;
    padding: 0;
}

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--dark);
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* margin-bottom: 14.5%; */
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.2);
}


.hero1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.hero1 h1 {
    font-size: 40px;
    font-weight: bold;
    color: red;
    border: 2px solid red;
    padding: 8px 20px;
}

.hero1 p {
    font-size: 100px;
    font-weight: 900;
    margin-top: 10px;
    width: 70%;
}

.hero-span {
    background: linear-gradient(to right, red, rgb(255, 153, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* display: block; */
}

.hero2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

.hero2 p {
    color: white;
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
    width: 52%;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 1%;
    width: 40%;
}

.hero-btn1 {
    padding: 20px 40px;
    background-color: rgb(255, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.hero-btn1:hover {
    background-color: rgb(180, 49, 49);
    /* box-shadow: 0px 0px 10px rgb(175, 0, 0); */
    transition: all 0.1s linear;
}

.hero-btn2 {
    padding: 18px 36px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.hero-btn2:hover {
    background-color: white;
    color:black;
    /* box-shadow: 0px 0px 10px white; */
    transition: all 0.1s linear;
}

/* ---------------------------------------------------------- */
/* ------------------------- ABOUT -------------------------- */
/* ---------------------------------------------------------- */

.about-container {
    background-color: var(--darker);
    justify-self: center;
    padding-top: 5%;
    margin-top: 5%;
    width: 100%;
}

.about {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    /* max-width: 70%; */
    height: auto;
    gap: 5%;
    padding: 0 5%;
    margin-bottom: 5%;


    div img {
        width: 100%;
        border: 1px solid var(--secondery-text);
        border-radius: 12px;
    }

    div h2 {
        font-size: 50px;
        text-transform: uppercase;
        color: white;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 18px;
    }

    div p {
        font-size: 25px;
        color: var(--secondery-text);
        margin-bottom: 20px;
        font-weight: 300;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            gap: 20px;
            

            .card {
                background-color: var(--dark);
                display: flex;
                flex-direction: column;
                border: var(--secondery-text) 1px solid;
                border-radius: 8px;
                height: 100%;

                h2 {
                    margin-top: 30px;
                    font-size: 35px;
                }

                p {
                    font-size: 20px;
                    font-weight: lighter;
                    line-height: 150%;
                }
            }
        }
    }
}


.classes-container {
    width: 100%;
    justify-self: center;
    background-color: var(--dark);
    padding: 5% 0;
}

.classes {

    /* margin-top: 3%; */
    width: 90%;
    justify-self: center;
    background-color: var(--dark);
    /* padding: 0 6%; */

    .classes-header {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 50px;
        
        p {
            color: var(--secondery-text);
            font-size: 25px;
            /* margin-bottom: 30px; */
        }

        a {
            text-decoration: none;
            color: var(--primary);
            font-weight: bolder;
        }

        a:hover {
            color: white;
            transition: all 0.3s ease-in;
        }
    }
    
    h1 {
        color: white;
        font-size: 60px;
        text-transform: uppercase;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .card {
            border: var(--secondery-text) 2px solid;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            transition: all 0.5s ease-in-out;

            img {
                width: 100%;
                height: 100%;;
                object-fit: cover;
                border-radius: 12px;
                transition: all 0.5s ease-in-out;
            }

            .dark-grade {
                position: absolute;
                background: #000000;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(237, 221, 83, 0) 100%);
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

            .inner-text {
                position: absolute;
                left: 1rem;
                bottom: 1rem;

                h1 {
                    font-size: 40px;
                }

                a {
                    font-size: 20px;
                    color: var(--primary);
                }
            }
        }

        .card:hover {
            border: var(--primary) 2px solid;

            img {
                transform: scale(1.15);
                /* transition: all 0.5s ease-in-out; */
            }

            /* transition: all 0.5s ease-in-out; */
        }
    }
    

}


.offers-container {
    background-color: var(--darker);
    padding: 5% 0;

    .offers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .offer-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 5%;
            height: 500px;

            .card {
                color: white;  
                display: flex;
                flex-direction: row;
                gap: 20px;
                
                i {
                    color: var(--primary);
                    background-color:  rgba(253, 100, 100, 0.2);
                    padding: 10px;

                    /* to make sure the width and height are the same (for the background to be a perfect circle not a oval) */
                    aspect-ratio: 1 / 1;
                    border-radius: 100px;

                    font-size: 40px;

                    /* to center the icon */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .text {

                    /* display: flex;
                    flex-direction: column;
                    justify-content: space-between; */

                    h2 {
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 20px;
                        color: var(--secondery-text);
                    }
                }
            }
            h1 {
                font-size: 50px;
                color: white;
            }

            
        }

        .offer-image {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80%;
            justify-self: center;
            align-self: center;
            transform: rotate(3deg);
            transition: all 0.5s ease-in-out;

            img {
                width: 100%;
                /* border: var(--secondery-text) 1px solid; */
                border-radius: 12px;
            }

            .dark-grade {
                position: absolute;
                background: #000000;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(237, 221, 83, 0) 100%);
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                align-self: center;
                border: var(--secondery-text) 1px solid;
            }

            .inner-text {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
                color: white;

                h2 {
                    background-color: red;
                    text-align: center;
                    border-radius: 8px;
                    display: inline-block;
                    padding: 5px 15px;
                    font-size: 20px;
                }

                p {
                    font-size: 30px;
                }
            }

            
            
        }

        .offer-image:hover {
            transform: rotate(0deg);
            /* transition: all 0.5 ease-in-out; */
            .dark-grade {
                border: var(--primary) 1px solid;
                /* transition: all 0.5s ease-in-out; */
            }
        }

}
}

.instructors-container {
    background-color: var(--dark);
    padding: 5% 0;

    .instructors {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: white;
            font-size: 40px;
            text-transform: uppercase;
        }
    }

    .cards {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 30px;
        margin-top: 50px;

        p {
            color: var(--primary);
            font-size: 20px;
            font-weight: 500;
        }

        img {
            width: 40%;
            border-radius: 100%;
            border: var(--secondery-text) 2px solid;
            transition: all 0.2s ease-in-out; 
        }

        img:hover {
            border: var(--primary) 2px solid;
            transform: scale(1.03);
        }

    }

    .instructors-redirect {
        button {
            border: white 1px solid;
            outline: none;
            font-size: 30px;
            padding: 15px 30px;
            background-color: transparent;
            color: white;
            border-radius: 8px;
            transition: all 0.2s ease-in-out;
            margin: 20% 0;
        }

        button:hover {
            cursor: pointer;
            /* border: white 1px solid; */
            color: black;
            background-color: white;
        }
    }
}

.stories-container {
    background-color: var(--darker);
    color: var(--secondery-text);
    padding: 5% 0;

    .stories {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
                color: var(--primary);
                opacity: 0.7;
                font-size: 70px;
            }

            h1 {
                font-size: 50px;
                color: white;
                text-transform: uppercase;
            }

            .cards {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5%;
                margin: 3%;

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    /* align-items: center; */
                    width: 30%;
                    background-color: var(--dark);
                    border: var(--secondery-text) 1px solid;
                    border-radius: 12px;
                    padding: 20px;

                    p {
                        color: var(--secondery-text);
                        font-size: 25px;
                        font-weight: 300;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 3%;

                        h1 {
                            background-color: var(--secondery-text);
                            width: 10%;
                            font-size: 20px;
                            aspect-ratio: 1/1;
                            text-align: center;
                            align-content: center;
                            text-justify: center;
                            border-radius: 100%;
                            margin-right: 4%;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 0;

                            h2 {
                                color: white;
                                font-size: 30px;
                            }

                            p {
                                font-size: 15px;
                            }
                        }
                    }

                }

            }
    }
}

.join-container {
    background: var(--dark);
    background: linear-gradient(90deg, rgba(160, 0, 0, 1), rgba(255, 0, 0, 0));
    padding: 5% 0;

    .join {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;

        h1 {
            font-size: 60px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 33px;
            color: white;
            opacity: 0.7;
            font-weight: 400;
            margin: 5% 0;
        }

        button {
            background-color: white;
            color: rgb(180, 0, 0);
            padding: 10px 20px;
            font-size: 30px;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
        }

        a {
            transition: all 0.2s ease-in-out;
        }

        button:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

/* .about div {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #2f394d;
    color: white;
}

.about div svg {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    fill: rgb(255, 49, 49);
}

.about div h2 {
    font-size: 30px;
}

.about div p {
    margin-top: 10%;
    font-weight: 400;
    color: grey;
    font-size: 18px;
}

.about div:hover {
    border: 2px solid rgb(180, 49, 49);
    transition: all 0.1s ease-in-out;
}

.about div:hover svg {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
} */


/* ---------------------------------------------------------- */
/* ------------------------- FOOTER ------------------------- */
/* ---------------------------------------------------------- */

/* =========================
   RESPONSIVE (MEDIA QUERIES)
   ========================= */

/* Tablets and small laptops */
@media (max-width: 1024px) {

  /* HERO */
  .hero1 p {
    width: 90%;
    font-size: 70px; /* down from 100px */
  }

  .hero2 p {
    width: 80%; /* down from 52% so it doesn't feel too narrow */
  }

  .hero-buttons {
    width: 70%; /* down from 40% */
    justify-content: center;
  }

  /* 3-column grids -> 2 columns */
  .classes .cards,
  .instructors-container .cards,
  .about .about-text .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* STORIES (your stories cards are flex) */
  .stories-container .stories .cards .card {
    width: 45%;
  }

  /* Two-column sections -> still 2 but with better spacing */
  .about {
    grid-template-columns: 1fr; /* stack sooner for a cleaner tablet layout */
    padding-bottom: 15%;
  }

  .offers-container .offers {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .offers-container .offers .offer-text {
    padding-right: 5%;
    height: auto;
  }

  .offers-container .offers .offer-image {
    width: 90%;
    transform: rotate(0deg);
  }
}

/* Phones */
@media (max-width: 640px) {

  /* HERO */
  .hero1 h1 {
    font-size: 22px;
    padding: 6px 14px;
  }

  .hero1 p {
    width: 95%;
    font-size: 42px;
  }

  .hero2 p {
    width: 95%;
    font-size: 18px;
    line-height: 1.8;
  }

  .hero-buttons {
    width: 95%;
    flex-direction: column;
    gap: 12px;
  }

  .hero-btn1,
  .hero-btn2 {
    width: 100%;
  }

  /* ALL 3-column grids -> 1 column */
  .classes .cards,
  .instructors-container .cards,
  .about .about-text .cards {
    grid-template-columns: 1fr;
  }

  .classes .cards .card .inner-text h1 {
    font-size: 28px; /* class title inside card */
  }

  /* INSTRUCTORS images scale nicely */
  .instructors-container .cards img {
    width: 55%;
  }

  /* STORIES stack */
  .stories-container .stories .cards {
    flex-direction: column;
    gap: 20px;
  }

  .stories-container .stories .cards .card {
    width: 95%;
  }

  .stories-container .stories h1 {
    font-size: 32px;
    text-align: center;
  }

  /* JOIN section */
  .join-container .join h1 {
    font-size: 36px;
    text-align: center;
  }

  .join-container .join h2 {
    font-size: 20px;
    text-align: center;
    width: 95%;
  }

  .join-container .join button {
    font-size: 22px;
  }
}
