:root {
    --primary: rgb(253, 100, 100);
    --dark: #0f172a;
    --darker: #0b111f;
    --secondery-text: #8795aa;
}

body {
    background-color: var(--darker) !important;
}

.container {

    .intro {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;

        .intro-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {

                font-size: 70px;
                text-transform: uppercase;

            }

            p {

                color: var(--secondery-text);
                font-size: 30px;
                font-weight: 350;

            }

        }

        .cards {

            /* width: 100%; */
            /* height: 100%; */
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            margin: 5% 0 5% 0;
            align-items: stretch;
            
            .card {
                
                border: var(--secondery-text) 2px solid;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                height: 100%;

                img {
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                    flex: 1;
                    /* margin: 0;
                    padding: 0; */
                }

                .text {
                    background-color: #1e293b;
                    padding: 7%;
                    border-radius: 0 0 10px 10px;
                    margin-top: -1%;
                    /* height: 100%; */
                }

                .name {
                    font-size: 40px;
                    /* text-transform: uppercase; */
                    font-weight: 900;
                }

                .job {
                    font-size: 30px;
                    color: var(--primary);
                    margin: 3% 0;
                }

                .desc {
                    font-size: 20px;
                    color: var(--secondery-text);
                }

            }
        }

    }

}