/* * {
    margin: 0;
    padding: 0;
} */


/* @import url('bootstrap.min.css') layer(framework);

@layer framework {
    
} */

:root {
    --primary: rgb(253, 100, 100);
    --dark: #0f172a;
    --darker: #0b111f;
    --secondery-text: #8795aa;
}


.uppercase {
    text-transform: uppercase;
}

.red {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #0f172a;
}

.intro {
    color: white;
    width: 80%;
    justify-self: center;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 60px;
    }

    .intro-child {

        display: flex;
        justify-content: space-around;

        p {
            color: white;
            display: inline;
            font-size: 30px;
            /* text-align: center; */
            margin-right: 20px;
        }

        button {
            border: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 170px;
            background-color: #334155;
            color: white;
            justify-self: end;
            font-size: 20px;

            svg {
                fill: white;
                width: 30px;
            }
        }

        button:hover {
            background-color: #607188;
        }

    }

}


table {

    border: solid 2px white;
    font-size: 25px;
    width: 100%;
    margin-top: 3%;

    td, th {
        border: solid 2px white;
        text-align: center;
        padding: 20px;
    }

    thead {
        text-transform: uppercase;
        color: var(--primary);
        background-color: #334155;
    }

    .wider {
        width: 12%;
        background-color: #334155;
        color: var(--primary);
    }

    td:hover:not(.wider) {
        background-color: var(--secondery-text);
    }

    /* thead tr:nth-child(1) {
        color: red;
    } */

}