.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d3559;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}


.transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #0d3559;
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    left: 0px;
}

.transition-2 {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #0d3559;
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    right: 0px;
}